form{
    background: #34495E;
    padding-left: 30%;
    padding-bottom: 8%;
    padding-top: 1%;
}


.activation{
    padding-left: 25px;
}

input[type=activationcode]{
    width: 20%;
    padding: 5px 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    float: centre;
}

.JAHimage{
    padding-top: 2%;
    size: 20%, 20%;
}

.JAHtext{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1%;
    height: 10%;
    width: 55%;     
    color: white;
    float: centre;
    padding-bottom: -10px;
}

button{
    padding-top: -10px;
    background-color: #34495E;
    background: 20%;
    border-radius: 1px;
    border-color:  #85929E;
    color: white;
    padding: 14px 20px;
    padding-bottom: 10px;
    padding-right: 15px;
    margin: 8px 0;
    cursor: pointer;
    width: 30%;
    float: centre;
}

button:hover{
    opacity: 0.8;
}

.agreementbtn{
    clear: both;
    padding: 10px 8px;
    background-color: #34495E;
    text-align: center;
    display: block;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 53%;
    float: centre;
}

.checkbox{
    color: white;
}

.submitbtn{
    padding: 10px -5px;
    background-color: #34495E;
    background-size: 50%;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    float: centre;
}

@media screen and (max-width: 300px){
    span.password{
        display: block;
        float: none;
    }
    .cancelbtn{
        width: 20%;
    }
}